<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Curso de Vue 3 - Bluuweb</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<script src="https://unpkg.com/vue@next"></script>
</head>
<body>

	<nav class="nav-top">
		<div class="container">
			<ul class="list-unstyled text-right">
				<li><a class="nav-top__link" href="js.html">minicurso JavaScript</a></li>
			</ul>
		</div>
	</nav>

	<div w3-include-html="content.html"></div>

	<div class="container pt-5">
		<h1>Curso de Vue v3</h1>
		<br>
		<div id="main">
			<h2>{{ title }}</h2>
			<p>{{ amount > 10 ? 'Es mayor a 10' : 'Es igual o menor a 10' }}</p>
		</div>
		<hr class="my-5">
		<div id="bank">
			<h2>{{ title }}</h2>
			<p>Este es mi saldo: {{ amount }} - <a :target="target" :href="link">{{ link }}</a></p>
			<p>El estado de la cuenta es: <span v-if="status">Activada</span><span v-else>Desactivada</span></p>
			<p>
				<span v-if="amount > 10" class="text-success">Eres rico del cagarse</span>
				<span v-else-if="amount <= 10 && amount > 0" class="text-primary">No tienes la riqueza que quieres pero si la que necesitas</span>
				<span v-else class="text-danger">Eres más pobre que las ratas</span>
			</p>

			<ul v-if="fruits.length" class="list-unstyled">
				<li><b>Listado de frutas</b></li>
				<li v-for="(fruit,i) in fruits" :key="i">{{i}} - {{ fruit }}</li>
			</ul>
			<p v-else>Sin frutas</p>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		const mainApp = app.mount('#main');
		const bankApp = bank.mount('#bank');
	</script>
</body>
</html>